
/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
@import url("http://fonts.googleapis.com/css?family=Charm&subset=latin,latin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
#kontrast{
  margin-right: 10px;
  margin-left: 4px;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  background:  white;
  color:black;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 1.4;
}
/* body.contrasting .header.contrasting .menu-items{
  background: black;
} */
h6{
  text-align: center;
  background-color: transparent;
}

h3{
  padding: 10px 0;
  margin-top: 5%;
  line-height: 1.2;
}
.home-intro h3{
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Charm', sans-serif;
  font-size: 4vw;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  z-index: 2;
}
.home-intro.contrasting h3{
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Charm', sans-serif;
  /* font-size: 6vw; */
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
h2{
  line-height: 1.2;
}

.home-intro h5{
  font-family: 'Charm', sans-serif;
  font-size: 2vw;
  padding: 10px 0;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  z-index: 2;
}
.home-intro.contrasting h5{
  font-family: 'Charm', sans-serif;
  /* font-size: 4vw; */
  padding: 10px 0;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

input{
  -webkit-appearance: none;
  outline: none;
  width:2rem;
  height:1rem;
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 50px;
  
}
input:before{
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: gold;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.9s ease-in-out;
}
input:checked{
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  background-size: cover;
  background-position: left;
}
input:checked::before{
  transform: translate(100%);
  transition: 0.9s ease-in-out;
  background-color: rgb(226, 223, 223);
}
input:checked + .header{
    filter: brightness(20%);
}
i{
  padding: 0px 10px;
}
iframe{
  width: 80%;
  height: 450px;
  frameborder: 0;
  border:0;
  allowfullscreen:"";
  aria-hidden: false;
  tabindex:"0";
}
.contrasting {
 color :gold;
 background-color: black;
}
/* header */
.header {
  background:white;
  position: sticky;
  top: 0;
  max-width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 2;
  border-radius: 3px;
  background-color: white;
}
.header.contrasting{
  background-color: black;
  color: gold;
  border: 1px solid gold;
  z-index: 2;
}

.header a {
  text-decoration: none;
  color:  rgb(43, 137, 214);
}
.header ul {
  list-style: none;
}
.logo{
z-index: 1;
}
.logoBiblioteki{
  height: 3rem;
  width: 7rem;
}
.header.contrasting  .logoBiblioteki{
  display: none;
}
.logoBiblioteki2{
  height: 3rem;
  width: 7rem;
  display: none;
}
.header.contrasting  .logoBiblioteki2{
  display: flex;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.menu-items li:hover {
  background-color: rgb(253, 249, 14);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.menu-items li:hover a {
 color:black;
}
/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-menu.expandable.contrasting .content{
  background-color: black;
  color: gold;
  border-top: none;
  border-left: 1px solid gold;
  border-bottom: 1px solid gold;
  border-right: 1px solid gold;
}
.mega-menu.expandable.contrasting .content .col .mega-links li:hover{
  background-color: transparent;
}
.mega-menu.expandable.contrasting .content .col .mega-links li a{
  background-color: transparent;
  color: gold; 
}

.mega-menu.expandable.contrasting .content .col section h2 {
  background-color: black;
  color: rgb(43, 137, 214);
}
.mega-menu.akt.expandable.contrasting .content .col h2 {
  background-color: black;
  color: rgb(43, 137, 214);
}


.mega-menu .content {
  background:white;
  color:  rgb(43, 137, 214);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.akt .content {
  grid-template-columns: repeat(3, 1fr);
}
.dos .content {
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color:black;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2;
}
.content .col .mega-links {
  border-left: 1px solid #1a3246;
}

.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  color: rgb(43, 137, 214);
  padding: 0 1rem;
}
.menu-items li:hover .mega-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.content .col .read-more:hover {
  color: #ff652f;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #ffffff;
  text-transform: uppercase;
}

/* hamburger menu */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background:  #427dad;
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: #427dad;
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: #427dad;
}
/* kontent główny */

.main-content{
  padding: 0 0px;
}


.home-intro
{
    top: -100px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #cc6123;
    min-height: 900px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2rem;
    /* padding: 100px 10%; */
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.home-intro::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient( rgb(199, 95, 25),rgb(255, 255, 255));
    z-index: 3;
}
.home-intro.kontakt::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient( rgb(2, 140, 195),rgb(255, 255, 255));
    z-index: 3;
}
.home-intro.pracownicy::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient( rgb(16, 18, 19),rgb(255, 255, 255));
    z-index: 3;
}
.home-intro::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 0;
}
.home-intro.contrasting
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #0a2a43;
    min-height: 900px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 2rem;
    /* padding: 100px 10%; */
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.home-intro.contrasting::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient( to top,  black, transparent);
    z-index: 3;
}
.home-intro.contrasting::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #0a2a43; */
    z-index: 0;
    /* mix-blend-mode: color; */
}
.home-intro img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
}
.home-intro.contrasting img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: brightness(30%);
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
}
#text
{
    position: relative;
    color: #fff;
    font-size: 2em;
    z-index: 0;
}
.home-intro .samologo{
 display: inline;
}.home-intro.contrasting .samologo{
  display: none;
 }
 .home-intro .samologo2{
  display: none;
 }.home-intro.contrasting .samologo2{
   display: inline;
  }
.home-about {
  padding: 4em 2em;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
.home-about img {
  height: 100%;
  width: 100%;
}
.home-about.contrasting {
  padding: 4em 2em;
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  background-color:black;
}

.home-about-header{
  padding: 10px;
  }
 .home-about-para{
   padding: 5px 10px 10px 10px;
   line-height: 1.3;

 }
.columns {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  
}

.col + .col {
  margin-left: 1.5em;
  
}
.col.fade-in.appear {
  max-width : 800px;
  max-height: 600px;
  min-width : 50px;
  min-height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  }
  body#b.contrasting .col.fade-in.appear{
    max-width : 800px;
    max-height: 600px;
    min-width : 50px;
    min-height: 50px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  padding: 10px;
  opacity: 1;
  line-height: 1.2;
  /* width: 33%; */
  height: 250px;
  box-sizing: border-box;
  border: 1px solid black;
  margin-bottom: 20px; 
}
body#b.contrasting .fade-in.appear {
  padding: 10px;
  opacity: 1;
  line-height: 1.2;
  width: 33%;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid gold;
  margin-bottom: 20px;
}
.fade-in.appear:hover {
  box-shadow: 10px 5px 60px 10px  black;
}
body#b.contrasting .fade-in.appear:hover {
  box-shadow: 10px 5px 60px gold;
  /* transition: 0.5s ease-in-out; */
}
.home-more-stuff{
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 4px;
  grid-auto-flow: row;
}
.home-more-stuff img{
 width: 100%;
 border-radius: 40px;
}
.home-more-stuff iframe{
 width: 100%;
 height: 100%;
 border-radius: 40px;
}


/* .home-more-stuff p{
  font-size: 30px;
} */
.more-stuff-grid {
  background:white;
  padding: 2em 0;
  display: grid;
  grid-gap: 1em;
  width: 80vw;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(39%, 49%)) minmax(1em,1fr);
}
.home-more-stuff.contrasting .more-stuff-grid{
  color: gold;
  background-color: black;
}
.home-more-stuff.contrasting .more-stuff-grid p{
  color: gold;
}
.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal{
  background-color: white;
}
.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal.contrasting{
  background-color: black;
}
.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal.contrasting h2{
  color: gold;
  /* font-family: 'Poppins', sans-serif; */
  position: absolute;
  top: 0;
  border-bottom: 1px solid white;
  
}
.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal.contrasting h6{  
    color: gold;
    text-align: center;
    background-color: transparent;
}


.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #427dad;
  padding: 0px 10px;

}

img.slide-in.from-left.appear {
  position: relative;
  justify-self: flex-end;
}
.slide-in.from-left.appear {
  position: relative;
  /* justify-self:end; */
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  color: #427dad;
  padding: 0px 10px;
  align-items: center;
}
.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* karty imgBx */
.pracownicy{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background:white;
}
.home-about.contrasting .pracownicy{
  background:black;
}
.box
{
    color: black;
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    z-index:1;
}
.box:hover
{
    height: 400px;
}
.box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgBx img
{
    width: 100vw;
    height: auto;
 max-width: 100%;
 opacity: 0.5;
 transition: 0.5s;
}
.box:hover .imgBx img
{
    opacity: 1;
}
.box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(31, 30, 30);
    z-index:-1;
    
}

.box::after
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background:rgb(37, 37, 37);
    z-index: -2;
    filter: blur(40px);
  }
  .box::before,
  .box::after
  {
    background: linear-gradient(235deg,#00c6ff,#151501,#0072ff);
  }
  .box:nth-child(2):before,
  .box:nth-child(2):after
  {
    background: linear-gradient(235deg,#9d50bb,#010615,#6e48aa);
  }
  .box:nth-child(3)::before,
  .box:nth-child(3)::after
  {
    background: linear-gradient(235deg,#780206,#010615,#061161);
  }
  .box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
  }
  .box:hover .content{
    opacity: 1;
  }
  .box .content h2{
    font-size: 20px;
    color: black;
    font-weight: 500;
    line-height:20px;
    letter-spacing: 1px;
    background: white;
  }
  .box .content h2 span{
    font-size: 14px;
    color: black;
    font-weight: 200;
    line-height:20px;
    letter-spacing: 2px;
    background: white;
  }
/* swiper */
.swiper-container
{
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  padding: 0;
  height: 250px;
  z-index: 0;
}
.swiper-container h2{
  color: rgb(43, 137, 214);
  /* font-family: 'Poppins', sans-serif; */
  position: absolute;
  top: 0;
  border-bottom: 1px solid black;
  
}


.swiper-slide 
{
  margin-top: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}
.swiper-image{
  display: flex;
  height: 150px;
  width: 150px;
}
/* foorer */
footer{
  width: 100%;
  min-height: 300px;
  max-height: auto;
  background-color: rgba(0,0,0,0.9);
  margin-top: 0px;
  clear: both;
}
footer a{
 text-decoration: none;
 color: white;
}
footer .footer-wrap{
  width: 80%;
  margin: 0 auto;
  padding-left: 10%;
  color: white;
}
  footer .footer-wrap a{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.widgetFooter{
  width: calc(85%/3);
  height: auto;
  float: left;
  padding: 2.5%;
  text-align: center;
}
h4.uppercase{
  text-transform: uppercase;
  padding: 5px 0;
}
ul#footerUsefulLink, ul#footerMediaLinks{
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-transform: capitalize;
}
ul#footerUsefulLink li, ul#footerMediaLinks li{
  cursor: pointer;
  /* transition: border-bottom 3s ease-in; */
}
ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
   color: #00CED1;
   /* border-bottom: 1px solid red; */
}
ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb { 
  color: #3b5998; 
}
ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit {
   color: #1DA1F2; 
}
ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta {
   color: #ffc838;
}
ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git {
   color: #f1502f; 
}

div#footerLogo img{
  width: 60%;
  margin: 5% 0;
}

div.footerCopy{
  clear: both;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
}
  /* MEDIA QUERY */
@media (max-width:2500px){
  #footerLogo {
    width: 450px;
    margin: 1% 0; 
  }
  .home-about {
    padding: 4em 2em;
    width: 100vw;
    max-width: 70vw;
    margin: 0 auto;
    background-color: white;
  }
  .home-about.contrasting {
    padding: 4em 2em;
    width: 100vw;
    max-width: 70vw;
    margin: 0 auto;
    background-color:black;
  }
  body{
    font-size: 20px;
  }
}
@media (max-width:1500px){
    #footerLogo {
      width: 300px;
      margin: 1% 0; 
    }
    .home-intro
    {
        min-height: 500px;
    }
    .home-intro.contrasting
    {
        min-height: 500px;
    }
    body{
      font-size: 15px;
    }

}
@media (max-width:1300px){

    .col.fade-in.appear {
    min-width: 210px;
    }
}
@media (max-width:1050px){
  #footerLogo {
    width: 280px;
    margin: 1% 0; 
  }
  body{
    font-size: 12px;
  }
  .more-stuff-grid {
    background:white;
    width: 90vw;
  }
  footer{
    /* height: 220px; */
    min-height: 200px;
  }

}
@media screen and (max-width: 970px) {
  #footerLogo {
    width: 280px;
    margin: 1% 0; 
  }
  .home-more-stuff img{
    width: 120%;
    border-radius: 40px;
   }
   .home-more-stuff iframe{
    width: 100%;
    height: 400px;
    border-radius: 40px;
   }
  .menu-btn {
    display: flex;
    background: white;
    width: 45px;
    height: 45px;
    padding: 5px;
    border: solid 1px gold;
    border-radius: 10px;
  }
  .header.contrasting .menu-btn{
    display: flex;
    background: black;
    width: 45px;
    height: 45px;
    padding: 5px;
    border: solid 1px gold;
    border-radius: 10px;
  }
  .header{
    background: transparent;
    border: none;
    max-width: 100%;
    width: 100%;
  }
  .header .logoBiblioteki{
    background: white;
    padding: 5px;
    border: solid 1px gold;
    border-radius: 10px;
  }
  .header.contrasting{
    background: transparent;
    border: none;
    max-width: 100%;
    width: 100%;
  }
  .header.contrasting .logoBiblioteki2{
    background: black;
    padding: 5px;
    border: solid 1px gold;
    border-radius: 10px;
  }
  .home-intro h3{
    font-size: 8vw;
 
  }
  .home-intro h5{
    font-size: 4vw;
  }

body#b.contrasting .fade-in.appear {
  width: 100%;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid gold;
}
  .header .menu-items {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 100%;
    right: 0;
    background: white;
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateY(-200vh);
    transition: transform 0.3s ease-out;
 
    z-index: -1;
  }
  .header .nav-scrolled {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 100%;
    right: 0;
    background: white;
    display: block;
    padding: 1rem;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateY(-200vh);
    transition: transform 0.3s ease-out;    
    padding-bottom: 1px;
    padding-top: 1px;

    z-index: -1;
  }
  .header .menu-items.open {
    position: absolute;
    text-align: center;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    background: white;
    display: block;
    padding-top: 50px;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
 
    z-index: 0;
  }
  .header.contrasting .menu-items.open {
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    background: black;
    display: block;
    padding-top: 50px;
    line-height: 3rem;
    overflow-y: auto;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
 
    z-index: 0;
  }
  .header.contrasting .menu-items.open li:hover a{
    color: rgb(43, 137, 214);
  }
  .header.contrasting .menu-items.open .mega-menu.expandable .content{
    background: black;

  }
 .menu-right.expandable.contrasting{
   border-top: 0;
 }
  .menu-items.open {
    transform: translateY(0);
    /* height: fit-content; */
  }

  .menu-items li {
    margin: 15px 10px;
  }
  .menu-items li a {
    padding: 0 1rem;
    display: block;
    font-size: 1.4rem;
    
  }
  .menu-items li:hover {
    background-color: transparent;
    box-shadow: none;
   
  }

  /* MEGA MENUS */
  .menu-items .menu-right,
  .menu-items .mega-menu {
    position: static;
    opacity: 1;
    top: 4rem;
    visibility: visible;
    padding-left: 1rem;
    width: 100%;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .expand-btn.open + .expandable {
    max-height: 100%;
    transform: scaleY(1);
  }

  .expandable li {
    margin: 0;
  }
  .expandable li a {
    font-size: 1rem;
  }
  .mega-menu .content {
    grid-template-columns: auto;
    padding: 1rem 1rem 0 1rem;
    justify-content: center;
  }
  .mega-menu .content .col {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #1a3246;
  }

  .mega-menu .content .col:nth-child(1) {
    border-top: 0px;
  }
  .content .col .mega-links {
    border-left: 0px;
    padding-left: 1rem;
  }
  .col .mega-links li {
    margin: 0;
  }
  .more-stuff-grid {
    background: white;
    padding: 2em 0;
    display: block;
    grid-gap: 1em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
        1em,
        1fr
      );
  }
  .more-stuff-grid img{
    width:100%;
    margin: 10px 0px;
    border-radius: 40px;
  }
  .home-more-stuff iframe{
    margin: 10px 0px;
    width: 100%;
    border-radius: 40px;
   }
  p.slide-in.from-right.appear {
    margin-right: 0;
    
  }
  .columns {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
 
  }
  .col +.col{
    margin-right: 0;
    margin-left: 0;
    
  }
  .from-left {
    grid-column: 2 / 3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #427dad;
    padding: 0px 10px;
    font-weight: 500;

  }
  
  .from-right {
    font-weight: 500;
  }
.fade-in.appear {
  padding: 10px;
  opacity: 1;
  line-height: 1.2;
  width: 100%;
}
.home-about-header{
padding: 10px;
}
.home-about-para{
  padding: 5px 10px 10px 10px;
  line-height: 1.2;
}
.box
{
    color: black;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    z-index:1;
}
.box:hover
{
    height: 300px;
}
.box .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgBx img
{
    width: 100vw;
    height: auto;
 max-width: 100%;
 opacity: 0.5;
 transition: 0.5s;
}
.box:hover .imgBx img
{
    opacity: 1;
}
.box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(31, 30, 30);
    z-index:-1;
    
}

.box::after
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background:rgb(37, 37, 37);
    z-index: -2;
    filter: blur(40px);
  }
  .box::before,
  .box::after
  {
    background: linear-gradient(235deg,#00c6ff,#151501,#0072ff);
  }
  .box:nth-child(2):before,
  .box:nth-child(2):after
  {
    background: linear-gradient(235deg,#9d50bb,#010615,#6e48aa);
  }
  .box:nth-child(3)::before,
  .box:nth-child(3)::after
  {
    background: linear-gradient(235deg,#780206,#010615,#061161);
  }
  .box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
  }
  .box:hover .content{
    opacity: 1;
  }
  .box .content h2{
    font-size: 20px;
    color: black;
    font-weight: 500;
    line-height:20px;
    letter-spacing: 1px;
    background: white;
  }
  .box .content h2 span{
    font-size: 14px;
    color: black;
    font-weight: 200;
    line-height:20px;
    letter-spacing: 2px;
    background: white;
  }
footer .footer-wrap{
  width: 100%;
  padding-left: 10%;
}
}
@media (max-width:800px){
  footer .footer-wrap{
    width: 100%;
    padding-left: 10%;
  }
  footer .footer-wrap a{
    display: flex;
    flex-direction: row;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: calc(90%/2);
    text-align: center;
    font-size: 0.9em;
  }
  .widgetFooter:nth-of-type(2){
    display: none;
  }
  div.footerCopy{
    font-size: 0.8em;
    justify-content: center;
  }
  
}
@media (max-width:600px){
  /* .widgetFooter:not(:nth-of-type(2)){
    text-align: left;
  } */
  .home-about {
    padding: 4em 2em;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    background-color: white;
  }
  .home-about.contrasting {
    padding: 4em 2em;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    background-color:black;
  }
}
@media (max-width:500px){
  
  body{
    font-size: medium;
    padding: 0;
    margin-right: 0.5px;
    margin-left:  0.5px;
  }
  footer{
    min-height: auto;
  }
  .home-intro
{
    min-height: 500px;
}


  .swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal{
    width: 100%;
  }
  .home-about {
    padding: 4em 1em;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    background-color: white;
  }
  .home-about.contrasting {
    padding: 4em 1em;
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    background-color:black;
  }
  footer .footer-wrap{
    width: 100%;
    padding-left: 0%;
  }
  .widgetFooter:not(:nth-of-type(2)){
    width: 100%;
    padding: 0;
    text-align: center;
  }

  ul#footerUsefulLink, ul#footerMediaLinks{
    display: flex;
  }
  ul#footerUsefulLink li, ul#footerMediaLinks li{
    float: left;
    flex: 1;
    text-align: center;
    font-size: 1.5em;
  }
  ul#footerUsefulLink li p, ul#footerMediaLinks li p{
    display: none;
  }
  ul#footerUsefulLink li:hover, ul#footerUsefulLink li:hover .usefulLinksIcons, ul#footerUsefulLink li:hover a{
     color: white;
     background-color: #00CED1;
  }
  ul#footerMediaLinks li.media1:hover, ul#footerMediaLinks li:hover span.fb, ul#footerMediaLinks li:hover a.fb {
     background-color: #3b5998; color: white; 
  }
  ul#footerMediaLinks li.media2:hover, ul#footerMediaLinks li:hover span.twit, ul#footerMediaLinks li:hover a.twit {
     background-color: #1DA1F2; color: white;
     }
  ul#footerMediaLinks li.media3:hover, ul#footerMediaLinks li:hover span.insta, ul#footerMediaLinks li:hover a.insta {
     background-color: #ffc838; color: white;
     }
  ul#footerMediaLinks li.media4:hover, ul#footerMediaLinks li:hover span.git, ul#footerMediaLinks li:hover a.git {
     background-color: #f1502f; color: white;
     }
}
